---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// // Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

$spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 5%);
$grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram"
        // "layout"
        //"syntax-highlighting"
;

/**
 * Nav
 */

.navigation {
	//height: 5.3rem;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: $color-initial;
	border-bottom: 2px solid $color-primary;

	.container {
		max-width: 800px;
	}

	.title {
		//padding-top: 0.8rem;
		font-family: 'Raleway', sans-serif;
		display: inline-block;
		//@extend h5;
		font-size: 20px;
		line-height: 1.5;
		padding: 14px 16px;
	}

	.navigation-item { 
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		display: inline-block;
		text-align: center;
		//font-size: 1.7rem;
		//padding: 14px 16px;
		padding: 14px 14px;
	}

	.navigation-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		padding-top: 1.0rem;
	}
	
	@include media-query($on-palm) {
	@media screen and (max-width: 600px){
		.navigation-item, .title, .float-left, 
		.float-right {
			width: 100%;
			float: none;
			display:block;
			padding: 0px;
			margin: 0px;
			font-size: 16px;
			text-align: center;
			background-color: #f1f1f1;
			border-top: 1px solid $color-secondary;
			border-right: 1px solid $color-secondary;
			border-left: 1px solid $color-secondary;
			//text-align: center;
			//border: 1px solid $color-primary;
			//border-bottom: 1px solid $color-primary;
			//padding: 14px 16px;
		}
		//.navigation-item {
		//	border: 1px solid $color-secondary;
		//}
		.icon {
			width: 18px;
			height: 18px;
		}
		//ul {
		//	border: 1px solid $color-primary;
		//}
		li {
			text-align: center;
			padding: 0px;
			margin: 0px;
			//border-bottom: 1px solid $color-secondary;
		}
		li a.active {
			background-color: $color-quaternary;
		}
		.navigation-item li:last-child {
			border-bottom: 1px solid $color-secondary;
		}
		
		}
	}
	
}//navigation	



/**
 * Body
 */

body {
	//margin: 0px 0px;
	margin: 0 auto;
}

.page-content {
	margin: 0 auto;
	width: 800px;

	.wrapper {
		margin-top: 5.2rem;
	}
}

.post-header {
	font-family: 'Raleway', sans-serif;
	padding-top: 8rem;
}

.page-not-found {
  //font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  padding-top: 10%;
}

.avatar {
  padding-top: 20%;
  padding-bottom: 10%;
}

.centered {
  //font-family: 'Source Sans Pro', sans-serif;
  width: auto;
  max-width: 800px;
  text-align: center;
}

.centered .text-muted {
  margin: 20px 0;
}

.centered a {
  color: #9b4dca;
}

.centered a:hover {
  color: #9b4dca;
}

/**
 * Footer
 */

.site-footer {
	padding: 25px;
	margin: 0 auto 100px;
	font-family: 'Raleway', 'Source Sans Pro', sans-serif;

	.wrapper {
		width: auto;
		max-width: 800px;
		margin: 0 auto;
		//width: 70%; // width: 800px;
	}

	.footer-heading {
		font-family: 'Raleway', 'Source Sans Pro', sans-serif;
		font-size: 2.0rem;
		letter-spacing: 0.02rem;
	}
}

hr { 
	border: solid #8f9aa3; 
	border-width: 1px 0 0; 
	clear: both;
	margin: 80px auto 0; 
	height: 0; 
}

/**
 * Sticky footer
 */

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #9b4dca;
	color: $color-tertiary;
	text-align: center;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	font-size: 10pt;
	padding: 8px 0;
	//word-spacing: 1px;
}

.post-list {
	list-style: none;
	padding-top: 6rem;

	li {
		padding-top: 20px;
	}
}

.social-media-list {
	list-style: none;
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	font-size: 1.6rem;

	li {
		// display:inline;
	}
}

/**
 * Icons
 */
.icon {
	display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
	border:0;

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $color-primary;
        }
    }
}

.contact-list {
	list-style: none;
}

.img-circle {
	border-radius:50%;
	vertical-align:middle;
	max-width: 150px;
	// width: 150px;
	//height: 200px;
	margin-bottom: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	box-shadow: 0 4px 8px 0 $color-primary, 0 -4px 8px 0 $color-primary; //rgba(0, 0, 0, 0.19);
}

h3 {
	font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
	font-weight:400;
	line-height:1.5;
	color:#333333;
	margin-top:20px;
	margin-bottom:10px;
	font-size:2.0rem; //24 px
}
