
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a
	color: $color-primary
	text-decoration: none

	&:hover
		color: #D14BE1 // a212d1 #bc89dc #b176d6 #732f9d #8135b1 #808080
		font-weight: bold
