<nav class="navigation">
  <section class="container">

  <ul class="navigation-list float-left">
    <li class="title">
      <img class="icon" src="/favicon.png" alt="unicorn"> <!--//style="border:0;vertical-align:top;width:30px;height:30px;">-->
      <!--<img src="/favicon.png" alt="unicorn" height="30" style="float:left;border:0;vertical-align:middle;">-->
      <a href="{{ site.baseurl }}/index.html">&ensp;{{ site.title }}</a></li>
  </ul>  
    
  <ul class="navigation-list float-right">
  <li class="navigation-item"><i class="fa fa-user-o"></i><a href="{{ site.baseurl }}/about"> About</a></li>
  <li class="navigation-item"><i class="fa fa-pencil"></i><a href="{{ site.baseurl }}/blog"> Blog</a></li>
  <li class="navigation-item"><i class="fa fa-file-text-o"></i><a href="{{ site.baseurl }}/cv"> Resume</a></li>
  <li class="navigation-item"><i class="fa fa-paper-plane-o"></i><a href="{{ site.baseurl }}/contact"> Contact</a></li>
</ul>

  
</section>
</nav>

<!--
<nav class="navigation">
  <section class="container">
    
     <img class="img" src="img/logo.svg" height="30" alt="Milligram" title="Milligram">  height:42px; 

    <ul class="title"><a href="{{ site.baseurl }}/index.html">
        <img src="/favicon.png" alt="unicorn" height="30" style="float:left;border:0;vertical-align:middle;">
        &nbsp; {{ site.title }}
      </a></ul>
    
    <ul class="navigation-list float-right">
      <li class="navigation-item"><i class="fa fa-user-o"></i>
        <a class="navigation-link" href="{{ site.baseurl }}/about" data-popover>About</a></li>
      
      <li class="navigation-item"><i class="fa fa-pencil"></i>
        <a class="navigation-link" href="{{ site.baseurl }}/blog" data-popover>Blog</a></li>
      
      <li class="navigation-item"><i class="fa fa-file-text-o"></i>
        <a class="navigation-link" href="{{ site.url }}/resume" data-popover>Resume</a></li>
      
      <li class="navigation-item"><i class="fa fa-paper-plane-o"></i>
        <a class="navigation-link" href="{{ site.baseurl }}/contact" data-popover>Contact</a></li>
    </ul>
    
  </section>
</nav> -->
