<nav class="navigation">
  <section class="container">
	  
	<div class="float-left">
		<img class="icon" src="/favicon.png" alt="unicorn">
		<a class="navigation-title" href="{{ site.baseurl }}/index.html">
			<!-- {{ site.title }} -->
			<h1 class="title"><span class="first">clarissa</span><span class="last">podell</span></h1>
		</a>
	  </div>
	  
  <!--<ul class="navigation-list float-left">
    <li class="title">
       //style="border:0;vertical-align:top;width:30px;height:30px;">
      <img src="/favicon.png" alt="unicorn" height="30" style="float:left;border:0;vertical-align:middle;"> 
      <a href="{{ site.baseurl }}/index.html">&ensp;{{ site.title }}</a></li> &ensp;
    <a href="{{ site.baseurl }}/index.html">&nbsp;<span style="font-weight:300;color:#999999;">clarissa</span><span style="font-weight:900;color:#505a62;">podell</span></a></li>
  </ul> -->

<div class="list-group float-right">
  <ul class="navigation-list" id="myTopnav">
  <li class="navigation-item"><a class="list-group-item" href="{{ site.baseurl }}/about"><i class="fa fa-user-o fa-fw"></i> About</a></li>
  <li class="navigation-item"><i class="fa fa-pencil fa-fw"></i><a class="list-group-item" href="{{ site.baseurl }}/blog"> Blog</a></li>
  <li class="navigation-item"><i class="fa fa-paperclip fa-fw"></i><a class="list-group-item" href="{{ site.baseurl }}/cv"> Resume</a></li>
  <li class="navigation-item"><i class="fa fa-paper-plane-o fa-fw"></i><a class="list-group-item" href="{{ site.baseurl }}/contact"> Contact</a></li>
  <a href="javascript:void(0);" style="font-size:15px;" class="navicon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</ul>
</div>
	  
	  
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "navigation-list") {
        x.className += " responsive";
    } else {
        x.className = "navigation-list";
    }
}
</script>

</section>
</nav>

<!-- <img class="img" src="img/logo.svg" height="30" alt="Milligram" title="Milligram">  height:42px; 
    <ul class="title"><a href="{{ site.baseurl }}/index.html">
        <img src="/favicon.png" alt="unicorn" height="30" style="float:left;border:0;vertical-align:middle;">
        &nbsp; {{ site.title }}
      </a></ul>    
    <ul class="navigation-list float-right">
      <li class="navigation-item"><i class="fa fa-user-o"></i>
<a class="navigation-link" href="{{ site.baseurl }}/about" data-popover>About</a></li>      
      <li class="navigation-item"><i class="fa fa-pencil"></i>
        <a class="navigation-link" href="{{ site.baseurl }}/blog" data-popover>Blog</a></li>      
      <li class="navigation-item"><i class="fa fa-file-text-o"></i>
        <a class="navigation-link" href="{{ site.url }}/resume" data-popover>Resume</a></li>    
      <li class="navigation-item"><i class="fa fa-paper-plane-o"></i>
        <a class="navigation-link" href="{{ site.baseurl }}/contact" data-popover>Contact</a></li>
    </ul>   -->
