<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{ site.baseurl }}/index"><img class="icon" src="/favicon.png" alt="unicorn">
			<span class="first">clarissa</span><span class="last">podell</span>
      </a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="{{ site.baseurl }}/index">Home</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/about">About</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog">Blog</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/cv">Resume</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
