$content-width: 800px;
$breakpoint: 672px;
$nav-height: 5.3rem; //70px;
$nav-background: $color-tertiary;
$nav-font-color: $color-primary;
$link-hover-color: $color-secondary;

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 0 18px;
	padding-top: 1.1rem;
        line-height: $nav-height / 2;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
	font-size: 1.1em;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
        &:hover {
          color: $link-hover-color;
          //color: $nav-font-color;
	  	  //color: #ffffff;
        }
        &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
        } 
      }
      ul li {
        min-width: 190px;
        & a {
          padding: 15px; // 15px
          line-height: 0px; //20px
          z-index: 1;
        }
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
  margin-right: 20px;
  line-height: 0;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@include media-query($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		.nav-mobile {
			display: block;
			line-height: 0px;
			padding: 0px;
		}
		nav {
			width: 100%;
			padding: $nav-height 0 15px;
			ul {
				display: none;
				
				li {
					float: none;
					a {
						padding: 15px;
						line-height: 20px;
						&:hover {
							background: $link-hover-color;
							//color: $nav-font-color;
							color: #ffffff;
						}
					}
					ul li a {
						padding-left: 30px;
					}
				}
			}
		}
	}
  
 .nav-dropdown {
   position: static;
  }
}

@include media-query($breakpoint) {
	@media screen and (min-width: $breakpoint) {
		.nav-list {
			display: block !important;
		}
	}
}

.navigation {
	//height: 5.3rem;
	height: $nav-height;
	background: $nav-background;
	// ----
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	border-bottom: 2px solid $color-primary;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
		
.brand {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height / 2;
  //@extend h4;
  //text-transform: uppercase;
  font-size: 1.8em;
  padding-top: 0.8rem;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

.first {
	font-weight:300;
	color:#999999;
	letter-spacing: -2px;
}
.last {
	font-weight:900;
	color:#505a62;
	letter-spacing: -2px;
}
